{% ckan_extends %}

<section class="additional-info">
  <h3><i class="fa fa-info-circle"></i> {{ _('Additional Info') }}</h3>
  <table class="table table-bordered table-dataset">
    <tbody>
      {% block package_additional_info %}

      {% block extras scoped %}
        {% set exclude = ['codede_download_url', 'codede_product_url',
        'collection_description', 'collection_name', 'collection_id',
        'spatial', 'scihub_download_url', 'scihub_product_url',
        'scihub_thumbnail_url', 'noa_download_url', 'noa_product_url',
        'noa_thumbnail_url', 'noa_manifest_url', 'scihub_manifest_url',
        'codede_manifest_url'] %}
        {% set subs = {'FamilyName': 'Family Name',
        'InstrumentFamilyName': 'Instrument Family Name',
        'InstrumentMode': 'Instrument Mode',
        'InstrumentName': 'Instrument Name',
        'OrbitDirection': 'Orbit Direction', 'StartTime': 'Start Time',
        'StopTime': 'Stop Time'}%}
        {% for extra in h.harvest_sorted_extras(pkg_dict.extras, subs=subs, exclude=exclude) %}
          {% set key, value = extra %}
          <tr rel="dc:relation" resource="_:extra{{ i }}">
            <th scope="row" class="dataset-label" property="rdfs:label">{{ _(key) }}</th>
            <td class="dataset-details" property="rdf:value">{{ value }}</td>
          </tr>
        {% endfor %}
      {% endblock %}

      {% endblock %}
    </tbody>
  </table>
</section>